@import 'tailwindcss';

@theme {
    --color-bear-tan: #cdb9b2;
    --color-bear-dark: #5d4037;
    --color-bear-medium: #9f8272;
    --color-bear-light: #9f8272;
    --color-bear-cream: #f7eee9;
    --color-bear-accent: #a1887f;

    --font-script: 'Great Vibes', cursive;
    --font-serif: 'Playfair Display', serif;
    --font-sans: 'Quicksand', sans-serif;
}

@layer base {
    html {
        @apply scroll-smooth;
    }

    @layer base {
        [id] {
            @apply scroll-mt-30;
        }
    }

    body {
        background-color: var(--color-bear-cream);
        background-image: repeating-linear-gradient(
                90deg,
                var(--color-bear-cream),
                var(--color-bear-cream) 40px, var(--color-bear-tan) 40px, var(--color-bear-tan) 80px
        );
    }

    h1, h2, h3 {
        @apply font-script
    }

    h1 {
        @apply text-6xl text-bear-dark;
    }

    h3 {
        @apply text-4xl text-bear-dark;
    }

    h4, h5 {
        @apply font-serif;
    }

    h5 {
        @apply text-xl font-bold text-bear-dark
    }

    p {
        @apply font-sans text-gray-600;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer components {
    .container {
        @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
    }

    label, .label {
        @apply text-xs font-bold text-gray-500 uppercase mb-1;
    }

    input {
        @apply w-full rounded-lg border-gray-300 border shadow-sm focus:border-bear-dark focus:outline-0 py-2 px-3 bg-white;
    }

    .form-group {
        @apply mb-4 w-full;
    }
}
